{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</div>

{% endblock %}
